.line-over-page::before {
    content: "";
    display: block;
    border-top: 1px solid gray;
    margin-bottom: 20px;
  }

  ul.list-unstyled li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }

  .container {
    padding: 2px;

  }

  .card-img-top-ico {
    height: 60px;
    width: 60px;
  }

  .footer {
    background-color: black;
  }

  .bg-dark {
    padding: 40px;
  }

  .blog {
    padding: 25px;
  }

  .work {
    padding: 25px;
  }
 
