.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 16px;
  }

  
  .gallery-item {
    background-color: #778da9;
    padding: 5px;
    text-align: center;
  }

  .gallery-item:hover {
    border: 1px solid #415a77;
  }
  
  @media only screen and (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media only screen and (max-width: 480px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }

  .gallery a {
    display: block;
    text-align: center;
  
  }
  
  a:link{
    text-decoration: none;
    color: #1b263b;
  }

  p{
    font-family: monospace;
    font-size: 10px;
    margin: 0;
    
  }
  